.container h3 {
  text-align: center;
  font-size: 25px;
}
.photo {
  display: block;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.goBackBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.genre {
  margin-right: 5px;
}
.Links {
  margin-left: 20px;
  width: 100%;
  border: none;
  box-shadow: none;
}
